/* Navbar */

.navbar {
    background-color: #0475ba;
}

/* Header */

/* presentation */

#presentation {
    background-color: #0475ba;
}

/* Experciences */

/* formations */

#formations {
    background-color: #0475ba;
}

/* passions */

/* footer */

footer {
    background-color: #0475ba;
}