/* universal */

.blue-section {
    background-color: #0475ba;
    color: rgb(255, 255, 255)
  } 



  a {
    color: rgb(255, 255, 255);
  }

  section {
    padding: 40px;
  }

  h3 {
      font-size: 19px;
      font-weight: bold;
      padding-bottom: 14px;
  }

  

     /* Navbar */
  nav {
    height: 72px;
    display: flex;
  }
  
  nav h2 {
    margin: 0;
    padding: 20px 0 20px 15px;
  }
  
  nav ul {
    display: flex;
    margin: 0;
    padding: 24px;
    list-style: none;
  }
  
  nav li {
    margin-left: 15px;
  }

  /*header*/
  
  header {
    text-align: center;
    padding: 40px;
  }
  
  .content {
    max-width: 800px;
    margin: 0 auto;   
  }
  
  .header-containter{
    display: flex;
    justify-content:space-around;
}

    .text-header {
        margin: 40px;
    }

  .text-header h1 {
    font-size: 30px;
    margin: 30px;
    font-weight: bolder;
  }


  .text-header h2 {
    font-size: 17px;
    font-weight: bold;
    color: #0475ba;
  }
  
  header img {
    width: 150px;
    height: 150px;
    box-shadow: 3px 3px 6px rgb(119, 118, 118);
  }

   /* Presentation */
   #profile ul {
     padding-left: 35px;
   }

   #profile li {
     list-style-type: disc;
   }

  
  /* experiences prof */

  #xp h3 {
    color: #0475ba;
  }
  
  #xp ul {
    padding: 0;
    list-style: none;
    margin: 0;
  }
  
  #xp li {
    border-bottom: 10px;
  }
  
  #xp aside {
    float: right;
  }
  
    /* Formations */

  #formations ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #formations li {
    margin-bottom: 10px;
  }
  
  #formations aside {
    float: right;
  }

  /* Passions */

  #passions h3 {
    color :#0475ba;
  }
   
  /* Footer */

  footer {
    padding: 40px;
  }
  
  footer ul {
    padding: 0;
    margin:0;
    list-style: none;
  }
  
  .links {
    margin-bottom: 25px;
    width: 390px;
    display: inline-block;
  }